# General
*.log
*.bak
*.swp
*.class
.DS_Store
.idea/

# Backend (Spring Boot)
/backend/.mvn/
/backend/.gradle/
/backend/.settings/
/backend/.classpath
/backend/.project
/backend/.factorypath
/backend/.vscode/

# Frontend (Angular)
/frontend/node_modules/
/frontend/dist/
/frontend/.angular-config.user.json
/frontend/.editorconfig
/frontend/.git/
/frontend/.gitignore
/frontend/.svn/
/frontend/.hg/
/frontend/.hgignore
/frontend/.hgattributes
/frontend/.tmp/
/frontend/.idea/
/frontend/.vscode/
/frontend/.web-server-pid
/frontend/.fusebox/
/frontend/.fusebox.ts/
/frontend/coverage/
/frontend/e2e/
/frontend/protractor-debug.log
/frontend/out-tsc/
/frontend/src/**/*.map
/frontend/src/**/*.js
/frontend/src/**/*.d.ts
/frontend/src/**/*.spec.ts
/frontend/src/**/*.ngsummary.json
/frontend/src/**/*.metadata.json
/frontend/src/**/*.ngfactory.ts
/frontend/src/**/*.injector.ts
/frontend/src/**/*.shim.ts
/frontend/src/**/*.ngstyle.ts
/frontend/src/**/*.spec.ts
/frontend/src/**/*.spec.js
/frontend/src/**/*.spec.js.map
/frontend/src/**/*.spec.ts.browser.json
/frontend/src/**/*.spec.ts.browser.map
/frontend/src/**/*.spec.ts.browser
